body {
    background-color: #FFF;
    color: #696969;
    margin: 1% 5%;
}

/* fonts-and-sizes */
p {
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
}

h2 {
    font-size: 17px;
    color: #A9A9A9;
    font-weight: normal;
    border-bottom: 1px solid #A9A9A9;
}

h3 {
    font-size: 24px;
    color: #A9A9A9;
    font-weight: normal;
    border-bottom: 0.5px solid #A9A9A9;
}

/* colors */
.grey10 {
    color: #1A1A1A;
}

/* Flex*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: 500px;
    position: absolute;
    margin-top: 13%;
    margin-left: 3%;
    margin-bottom: 1%;
    background-color: #FFF;
}

.flex-item {
    background-color: #FFF;
    width: 100%;
    height: 100px;
    margin: 10px;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

/* TBA */
.tba {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 11%;
    margin-left: 4%;
    margin-bottom: 1%;
}

/* title */
.title {
    font-family: "Heebo", Helvetica, Sans-serif;
    max-width: 800px;
    position: relative;
    float: left;
} 

.title a:hover {
    text-decoration: none;
}

/* navibar */
.navibar {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 20px;
    max-width: 800px;
    position: relative;
    float: right;
    display: inline;
}
.navibar li {
    list-style-type: none;   
    display: inline;
    padding-right: 8px;
}
a:link {
    text-decoration: none;
    color: #696969;
}
a:visited {
    text-decoration: none;
    color: #696969;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}

/* Index.Intro-Catch-Phrase */
.intro {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 7%;
    margin-left: 3%;
    margin-bottom: 1%;
}

/* About.Bio */
.about {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 900px;
    margin-top: 7%;
    margin-left: 3%;
    margin-bottom: 1%;
}

/* Education*/

.education {
    list-style-type: none;
}

.awards {
    list-style-type: none;
}
/* Projects */
.projects {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 37%;
    margin-left: 3%;
    margin-bottom: 1%;
}

.projects2 {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 8%;
    margin-left: 3%;
    margin-bottom: 1%;
}

/* Assignments */
.assignments {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 13%;
    margin-left: 3%;
    margin-bottom: 1%;
}

.assignments2 {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 8%;
    margin-left: 3%;
    margin-bottom: 1%;
}

.boxandwhisker {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 8%;
    margin-left: 3%;
    margin-bottom: 1%;
}   

#boxandwhisker {
    font-family: "Heebo", Helvetica, Sans-serif;  
}

/* Box-and-Whisker Assignemnt */
.explanation1 {
    font-family: "Josefin Sans", Helvetica, Sans-serif;
    font-size: 17px;
    color: #3f3f3f;
    position: absolute;
    max-width: 85%;
    margin-top: 15%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
}

.boxplot1 {
    display: block;
    margin-left: 34%;
}

.boxplot3 {
    display: block;
    margin-left: 28%;
}

.boxplot3-2 {
    display: block;
    margin-left: -10px;
}
.boxplot3-1 {
    display: block;
    margin-left: 0px;
}
p.charttitle {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 24px;
    color: #A9A9A9;
    font-weight: normal; 
    position: absolute;
}

.flex-containerB {
    display: -webkit-flex;
    display: flex;
    width: 900px;
    height: 500px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
}

.flex-itemB {
    background-color: #FFF;
    width: 100%;
    height: 100px;
    margin: 10px;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.flex-itemB p {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
}

.flex-itemB li {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 21px;       
}

.explanation2 {
    font-family: "Josefin Sans", Helvetica, Sans-serif;
    font-size: 17px;
    color: #3f3f3f;
    position: absolute;
    max-width: 100%;
    margin-top: 29%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
}    

/* wrapper 
.wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -30px;
} */

/* email */
.email {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-weight: normal;
    font-size: 15px;
    position: absolute;
    text-align: right;
    bottom: 0%;
    height: 30px;
    max-width: 800px;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    margin-left: 74.5%;
}

/* footer */
.footer {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 15px;
    position: absolute;
    text-align: right;
    bottom: 0%;
    height: 30px;
    max-width: 800px;
    margin-top: 200%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 74.5%;
}

.footer a {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 15px;
    text-align: right;
    position: absolute;
    bottom: 0%;
    height: 30px;
    max-width: 800px;
    margin-top: 100%;
    margin-right: 0%;
    margin-bottom: 0%;

}
.footer a:hover {
    text-decoration: none;
}
