body {
    background-color: #FFF;
    color: #696969;
    margin: 1% 5%;
}

/* fonts-and-sizes */
p {
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
}

h2 {
    font-size: 17px;
    color: #A9A9A9;
    font-weight: normal;
    border-bottom: 1px solid #A9A9A9;
}

/* title */
.title {
    font-family: "Heebo", Helvetica, Sans-serif;
    max-width: 800px;
    position: relative;
    float: left;
} 

.title a:hover {
    text-decoration: none;
}

/* navibar */
.navibar {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 20px;
    max-width: 800px;
    position: relative;
    float: right;
    display: inline;
}
li {
    list-style-type: none;   
    display: inline;
    padding-right: 8px;
}
a:link {
    text-decoration: none;
    color: #696969;
}
a:visited {
    text-decoration: none;
    color: #696969;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}

/* Index.Intro-Catch-Phrase */
.intro {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 7%;
    margin-left: 3%;
}

/* Projects */
.projects {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 13%;
    margin-left: 3%;
}

/* Assignments */
.assignments {
    font-family: "Heebo", Helvetica, Sans-serif;
    position: absolute;
    max-width: 800px;
    margin-top: 40%;
    margin-left: 3%;
}
/* footer */
.footer {
    font-family: "Heebo", Helvetica, Sans-serif;
    font-size: 15px;
    position: absolute;
    text-align: right;
    bottom: 0%;
    height: 30px;
    max-width: 800px;
    margin-top: 0%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-left: 74.5%;
}
.footer a:hover {
    text-decoration: none;
}
